<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheets" href="../public/stylesheets/style.css" />
    <script src="/javascripts/index.js"></script>
    <title>Video Streaming</title>
  </head>
  <body>
    <h1>Face Group <%= title %></h1>
    <form action="/room">
      <label for="username">이름 : </label>
      <input
        name="username"
        type="text"
        placeholder="Enter username..."
        required
      />
      <label for="room">방 : </label>
      <input 
        name="room" 
        type="text" 
        placeholder="Enter roomname..." 
        required />
        <button type="submit" class="toRoombtn" onclick="setCookie()">방생성!</button>
    </form>
    <button><a href="/view/video1">버튼0</a></button>
    <!-- <button><a href="/video/video1">버튼1</a></button> -->
    <button><a href="/room">방 생성</a></button>
  </body>
</html>
