<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>room</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/room.css" type="text/css">
    <script>
      const ROOM_ID = "<%= roomId%>";
    </script>
    <!-- <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" ></script> -->
    <script defer src="/javascripts/peer.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/javascripts/script.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- 비디오화면컨테이너 -->
      <div class="cambox">
        <!-- <div>uuid is <%= roomId %></div> -->
        <div id="video-grid"></div>
      </div>
      <!-- 채팅컨테이너 -->
      <div class="chatbox">
        <!-- 채팅창상단 -->
        <div class="chat-info">
          <div class="chat"></div>
          <span>◎ 룸 인원</span>
        </div>
        <!-- 채팅창 -->
        <div class="chatting">
          <div class="chat">
            <div class="user">을왕라: </div>
            <div class="content"> 안녕하세요</div>
          </div>
        </div>
        <!-- 채팅입력 -->
        <div class="chat-textarea">
          <textarea class="textarea" placeholder="메시지 보내기" rows="1"></textarea> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
