<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheets" href="../public/stylesheets/style.css" />
    <title>Room List</title>
  </head>
  <body>
    <h1>Video Streaming <%= title %></h1>
    <button><a href="/view/video1">버튼0</a></button>
    <button><a href="/video/video1">버튼1</a></button>
    <button><a href="/room">버튼1</a></button>
  </body>
</html>
